
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
  
}

img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: #0b0f1a;
    border-bottom: 1px solid #1c223a;
    width: 100%;
    display: flex;
    justify-content: space-between;

    align-items: center;
    padding: 15px 20px;
    flex-wrap: wrap;
}

h1 {
    color: #5b5cf6;
}


nav ul {
    display: flex;
    list-style: none;
    gap: 16px;
    font-weight: 500;
    font-size: 18px;
}

nav ul a {
    text-decoration: none;
    color: #b3b8d4;
}
nav ul a:hover {
    
    color: #5b5cf6;
}


.menu-toggle {
    display: none;
    font-size: 32px;
    color: #5b5cf6;
    cursor: pointer;
}


h2 {
    font-size: 2.5rem;
}

.s1 {
    color: white;
    background-color: #0b0f1a;
    min-height: 60vh;
    padding: 40px 20px;
}

.s2 {
    color: white;
    background-color: #0e1324;
    min-height: 60vh;
    padding: 40px 20px;
}


.inicio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
}

.aprese p {
    font-size: 1.6rem;
    color: #c9c9c9;
}

.aprese{
    color: #5b5cf6;
    font-weight: bold;
    font-size: 2.5rem;
}

.img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

/* =========================
   SOBRE
========================= */
.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

span {
    color: #5b5cf6;
    font-weight: bold;
}

.descricoes {
    width: 90%;
}

.descricoes p {
    text-align: justify;
    font-size: 1.2rem;
    color: #c9c9c9;
    text-indent: 30px;
}

.tecnologias {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.react {
    width: 100px;
}

#projectos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card1 {
    background-color: #0b0f1a;
    width: 100%;
    max-width: 280px;
    height: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 0px 4px #3e4a6d;
    color: #c9c9c9;
}

.card1 h3 {
    color: white;
    font-size: 22px;
}


button {
    background-color: #5b5cf6;
    color: white;
    width: 190%;
    max-width: 160px;
    height: 40px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}


#Contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 400px;
}

form button{
    background-color: #5b5cf6;
    color: white;
    width: 200%;
    max-width: 550px;
    height: 40px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

input,
#conteudo,
#Enviar {
    width: 100%;
    height: 50px;
    border-radius: 6px;
    border: none;
}

#conteudo {
    height: 100px;
}

input::placeholder {
    font-size: 16px;
    padding: 10px;
}

.redes a{
    list-style: none;
}
.redes > a > img{
    width: 70px;
    padding: 18px;
}

/* =========================
   FOOTER
========================= */
footer {
    display: flex;
    flex-direction: column;
    background-color: #0b0f1a;
    align-items: center;
    padding: 30px 0;
}



@media (max-width: 768px) {

    header{
        display: block;
    }

    nav ul {
        background-color: #0b0f1a;
    
    }

    h2 {
        font-size: 1.8rem;
    }

    .aprese p {
        font-size: 1.2rem;
    }
}